* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    background-color: #16FFBD;
    color: #333;

}

.shop {
    /*display: flex;*/
    font-size: 4rem;
    text-align: center;
    margin: 3rem;
}

.circle {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #C34271;
    margin: 3rem;
}

.circle-items {
    display: flex; 
    justify-content: space-between;
}

.words {
    font-size: 6rem;
    text-align: center;
}

.buyitems {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    
}

img {
    border-radius: 5px;
}

.buy {
        background-color: #C34271;
        color: #16FFBD;
        display: inline-block;
        font-size: 2rem;
        line-height: 1.67;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        -webkit-text-decoration: none;
        text-decoration: none;
        cursor: pointer;
        margin-top: 1rem;
        border: 2px solid #12C998;
        border-radius: 10px;
        user-select: none;
        display: flex;
        justify-content: center;
        padding: 1rem;
}

.price {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem;
}

.copyright {
    margin: 6rem;
    text-align: center;
}